body{
   color: rgb(255, 255, 255);
   text-align: center;
   padding: auto;
   background-color: rgb(51, 50, 50);
   margin: 0;
}

.User-App{
   color: rgb(255, 255, 255);
   text-align: center;
   background-color: rgb(51, 50, 50);
   display: flex;
   flex-wrap: wrap;
   margin: 0em;
   padding: 5px;
   justify-content: center;
}
.userContainer{
   display: flex;
   margin: 5em;
   border: 1px solid black;
   border-radius: 1em;
   background-color:  rgb(199, 131, 42);
   color: white;
   text-shadow: 1px 1px 3px black;
   padding: 5px;
   justify-content: center;
   box-shadow: 10px 5px 5px black;
}
.user-title{
   text-align: center;
   margin-right: 2rem;
}
.user-form{
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   margin: 2em;
   border: 1px solid black;
   border-radius: 1em;
   background-color:  rgb(199, 131, 42);
   color: white;
   text-shadow: 1px 1px 3px black;
   padding: 7px;
   text-align: center;
   align-items: center;
   box-shadow: 10px 5px 5px black;
}

.submit{
   width: auto;
   height: auto;
   justify-content: center;
   align-items: center;
   margin-left: 8%;
   margin-top: 1em;
}


.update-form{
   margin-top: 5rem;
   margin-left: 4rem;
   display: flexbox;
   text-align: center;
   justify-self: right;
}

h1{
   color: goldenrod;
   text-shadow: 4px 4px 4px  #000;
}
.container{
   background-color: rgb(51, 49, 49);
}
a:visited{
   text-decoration: none;
   color: white;
}
.nav-container{
   text-decoration: none;
   height: 7vw;
   width: 95vw;
   border-radius: .2em;
   background-color: rgb(202, 157, 97);
   color: #000;
   font-size: 20px;
   padding: 5px;
   box-shadow: 5px 5px 5px rgb(7, 7, 7);
   margin-bottom: 2rem;
   margin-left: 1rem;
   
}
/*Child of parent .navbar: flex organizes them into row*/
.navbar-nav{
   display: flex;
   flex-direction: row;
   justify-content: right;
}
/* list-style type set to none removes list elements */
.navbar-item{
   font-size: larger;
   list-style-type: none;
   margin-top: 2rem;
   margin-right: 1em;
   margin-bottom: 1rem;
}

.navbar-item:hover{
   color: rgb(255, 255, 255);
   font-size: 22px;
   text-shadow: 4px 4px 4px black;
}
/* gives look of button being pressed when clicked */
.navbar-item:active{
   background-color: rgb(3, 40, 71);
   border-radius: .5rem;
   box-shadow: 10px 5px 5px black;
}

.avatar{
   display: flex;
   justify-content: flex-start;
   margin-left: 3rem;
   margin-bottom: 2rem;
   margin-right: 2rem;
   border-radius: .5rem;
   box-shadow: 10px 5px 5px black;
}

.submit{
   font-size: 100%;
   box-shadow: 2px 2px 2px black;
   color: white;
   background-color: green;
   border-radius: .5rem;
   margin-bottom: 1rem;
}

.delete{
   box-shadow: 2px 2px 2px black;
   color: white;
   background-color: red;
   border-radius: .5rem;
   margin-bottom: 1rem;
}

.update{
   box-shadow: 2px 2px 2px black;
   color: white;
   background-color: blue;
   border-radius: .5rem;
   margin-top: 1rem;
}