body{
   color: goldenrod;
   text-align: center;
   padding: auto;
   background-color: rgb(51, 50, 50);
}
.container{
   background-color: rgb(51, 49, 49);
}
a:visited{
   text-decoration: none;
   color: white;
}
.navbar{
   width: 95vw;
   border-radius: .2em;
   background-color: rgb(202, 157, 97);
   color: #000;
   font-size: 24px;
   padding: 5px;
   box-shadow: 5px 5px 5px rgb(7, 7, 7);
   margin-bottom: 2rem;
   margin-left: .5rem;
   
}
/*Child of parent .navbar: flex organizes them into row*/
.navbar-nav{
   display: flex;
   flex-direction: row;
   justify-content: right;
}
/* list-style type set to none removes list elements */
nav ul li{
   list-style-type: none;
   margin-right: 1em;
}

nav ul li:hover{
   color: rgba(0, 0, 0, 0.705);
}
/* gives look of button being pressed when clicked */
nav ul li:active{
   background-color: rgb(3, 40, 71);
   border-radius: .5rem;
   box-shadow: 10px 5px 5px black;
}